<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043553073934-fvbh3u5ak8jkoc1m3kdloksh3ipih05o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043553073934-fvbh3u5ak8jkoc1m3kdloksh3ipih05o</string>
	<key>API_KEY</key>
	<string>AIzaSyAa52V6MpO2FNbeq3QBOlj7WTr8ZfUtS5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1043553073934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NizelanInc.someAPIMadness</string>
	<key>PROJECT_ID</key>
	<string>someapimadness</string>
	<key>STORAGE_BUCKET</key>
	<string>someapimadness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043553073934:ios:eac5cb466b6978402bb55f</string>
	<key>DATABASE_URL</key>
	<string>https://someapimadness.firebaseio.com</string>
</dict>
</plist>